.square {
	width: 200px;
	height: 200px;
	border-style: solid;
	border-color: black;
	background-image: linear-gradient(to top, steelblue, salmon);
}

.grid {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: center;
	width: 610px;
	height: 610px;
	margin-left: auto; margin-right: auto;
}

.mole {
	background-image: url('mole.png');
	background-size: cover;
}


body {
	background-image: linear-gradient(red, blue); 
}

h1 {
	color: yellow;
	text-decoration: underline;
	text-align: center;
}

h2 {
	text-align: center;
	color: white;
}